.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( max-width:768px) {
  .App-footer {
   padding: 10px; 
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #161616; 
  padding: 20ex;
  margin-top: 20ex;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Git {
  background-image: url(./Pictures/git.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 50px;
  height: 40px;
  float: left;

}
.Linkedin {
  background-image: url(./Pictures/linkedin.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 50px;
  height: 40px;
  float: left;

}
.tex {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  color: white
}
.navbar-nav { 
  position: fixed;
  left: 0;
  top:0;
  width: 20%;
  background-color: #161616; 
  padding: 20ex 0 20ex 20ex;
}
.tex-nav {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  color: white;
  text-align: left ;
  margin-right: 10px;
  
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* O ajusta según tus necesidades */
}