* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #414142;
  min-height: 1vh;
  width: 100%; /* Cambiado de 130% a 100% */
  height: 45vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  position: relative;
  right: 0;
  top: 0;
}
.navbar {
  position: fixed;
  right: 2%;
  top: 2%;
  width: calc(17% - 4%);
  height: 3%; /* Ajusta según tus necesidades */
  background-color: #161616;
  border-radius: 30px;
}
.navbar-nav {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav li {
  margin-right: 20px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.navbar-nav li.active {
  color: #00bcd4;
}

.App-footer {
  position: relative;
  width: 100%;
  height: 10%;
  background-color: #414142;
  padding: 0; /* Ajusta según tus necesidades */
  bottom: 0;  
}

@media (max-width: 768px) {
  .App-footer {
    padding: 1em; /* Ajusta según tus necesidades */
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Git {
  background-image: url(./Pictures/git.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 50px;
  height: 40px;
  float: left;

}
.Linkedin {
  background-image: url(./Pictures/linkedin.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 50px;
  height: 40px;
  float: left;

}

.tex-nav {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  color: white;
  text-align: center;
  
}
.tex-pre {
  background-color: #414142;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-align: left;
  font-size: 13vh; /* Cambiado de 15vh a 3vh */
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;

}
.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* O ajusta según tus necesidades */
}
.ima-contenedor {
  position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 40px;
  margin: 0 auto;
  float: left;
  }
  .project-card {
    text-decoration: none;
    color: inherit;
    width: 100px;
    height: 100px;
    background: #3498db;
    border-radius: 10px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    font-size: auto;
    text-overflow: ellipsis;
    overflow: scroll;
  }
  
  .project-card:hover,
  .project-card.hovered {
    transform: scale(1.1);
  } 
p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  text-align: center;
}
