* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-image: url('C:\Users\Home1\OneDrive\Escritorio\Omar\Programación\portfolio\front\Portfolio_front\portfolio\src\Pictures\Omar-logos_white.png');
  background-color: #414142;
  min-height: 1vh;
  width: 100%; /* Cambiado de 130% a 100% */
  height: 45vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  position: relative;
  right: 0;
  top: 0;
  background-size: 45%; /* Ajusta según sea necesario */
  background-position: center center;
  background-repeat: no-repeat;
}
.navbar {
  position: fixed;
  right: 2%;
  top: 2%;
  width: calc(14% - 4%);
  height: 3%; /* Ajusta según tus necesidades */
  background-color: #aeaeae;
  border-radius: 30px;
}
.navbar-nav {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  width: 100%;
  color: black;
}

.navbar-nav li {
  margin-right: 20px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.navbar-nav li.active {
  color: #00bcd4;
}
.tex-nav {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  color: white;
  padding: 0;
  
}
.tex-nav.active {
  background-color: #00bcd4;
  color: white;
  border-radius: 5px;
}
.App-footer {
  position: relative;
  width: 100%;
  height: 35%;
  background-color: #414142;
  padding: 0; /* Ajusta según tus necesidades */
  bottom: 0;  
  justify-content: right;
}
.tex {
  text-align: right;
  right: 0;
  color: white;

}

@media (max-width: 768px) {
  .App-footer {
    padding: 1em; /* Ajusta según tus necesidades */
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Git {
  background-image: url(./Pictures/git.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 40px;
  float: right;

}
.Linkedin {
  background-image: url(./Pictures/linkedin.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 40px;
  float: right;

}
.cv {
  background-image: url(./Pictures/cv.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 40px;
  float: right;

}
.tex-pre {
  background-color: #414142;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-align: left;
  font-size: 20vh; /* Cambiado de 15vh a 3vh */
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;

}
.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* O ajusta según tus necesidades */
}
.ima-contenedor {
  position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  float: left;
  }
  .project-content {
    margin-top: 25px;
    margin-bottom: 5px;
  }
  .project-card {
    margin-left: 0.5%;
    text-decoration: none;
    color: inherit;
    width: 400px;
    height: 400px;
    background: #aeaeae;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    font-size: auto;
    overflow: hidden; /* Evita que la imagen sobresalga del contenedor */
}

.project-card img {
  max-width: 70%; /* Make sure the image doesn't exceed its container's width */
  height: auto; /* Maintain the aspect ratio */
  display: block;
 
}
.project-card h3 {

  margin-top: 0px;
  margin-left: 15px;
  
}
.project-card p {
  margin-top: 0px;
  margin-left: 15px;
  
}
  
  .project-card.hovered {
    transform: scale(1.1);
  } 
p {
  font: Noto Sans;
  font-size: 32px;
  text-align: center;
}
.h3 {
  text-align: center;
}
.h2{
  font: Lato;
}

@keyframes moveLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-95%);
  }
}